<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="../leaderboard.css" rel="stylesheet" type='text/css'>
  <title>Battleship</title>
</head>

<body>
  <div id="leaderboard">
    <div class="scores">
      <h2>High Scores</h2>
      <% for(score of scores) { %>
        <p>
          <span><%= score.username %> </span> <span><%= score.score %></span>
        </p>
      <% } %>
    </div>
    <a href="/"><button>Back To Game</button></a>
  </div>
</body>