
#blinder{
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0,0,0);
  position: absolute;
  top: 0;
  left: 0;
}

#turn-change-menu{
  margin: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: rgb(182, 182, 182);
  font-family: "Bebas Neue", "Arial";
  border: 2px solid rgb(0, 179, 0);
  width: 400px;
  padding: 30px;
}
#blinder-title{
  font-size: 2em;
}
#new-turn-button{
  width: 100px;
}