
#gameEndForm{
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  border: 5px solid rgb(182, 182, 182);
}

#gameEndForm h2 {
  color:rgb(0,179,0);
  font-family: monospace;
  text-align: center;
}

#gameEndForm form{
  display:flex;
  flex-flow: column;
  margin:auto;
  width: 50%;
}

#gameEndForm{
  position: absolute;
  top: 50vh;
  left:50vw;
  width:500px;
  height: 300px;
  margin-top: -150px;
  margin-left:-250px;
  background-color: black;
}

form input[type="radio"]{
  display:none;
}

form input[type='text']{
  border: 2px solid rgb(0,179,0);
  margin: 10px;
  background-color: black;
  color: rgb(0,179,0);
}
